// Theming

#glossa {

    // Pico Lib
    // --------------------

    position: absolute;
    // Typography
    --font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    --line-height: 1.5;
    --font-weight: 400;
    --font-size: 16px;

    // Borders
    --border-radius: 0.25em;
    --border-width: 1px;
    --outline-width: 3px;

    // Spacings
    --spacing: 1em;

    // Spacings for typography elements
    --typography-spacing-vertical: 1.5em;

    // Spacings for body > header, body > main, body > footer, section, article
    --block-spacing-vertical: calc(var(--spacing) * 2);
    --block-spacing-horizontal: var(--spacing);

    // Spacings for form elements and button
    --form-element-spacing-vertical: 0.75em;
    --form-element-spacing-horizontal: 1em;

    // Font weight for form labels & fieldsets legend
    --form-label-font-weight: var(--font-weight);

    // Transitions
    --transition: 0.2s ease-in-out;
    @import "_variables";
    @import "_theme_default";

    @import "_style";

    // Pico

    // Layout
    @import "@picocss/pico/scss/layout/document"; // html
    @import "@picocss/pico/scss/layout/sectioning"; // body, header, main, footer
    //@import "@picocss/pico/scss/layout/container"; // .container, .container-fluid
    //@import "@picocss/pico/scss/layout/section"; // section
    @import "@picocss/pico/scss/layout/grid"; // .grid
    //@import "@picocss/pico/scss/layout/scroller"; // figure

    // Content
    @import "@picocss/pico/scss/content/typography"; // a, headings, p, ul, blockquote, ...
    //@import "@picocss/pico/scss/content/embedded"; // audio, canvas, iframe, img, svg, video
    @import "@picocss/pico/scss/content/button"; // button, a[role=button], type=button, type=submit ...
    @import "@picocss/pico/scss/content/form"; // input, select, textarea, label, fieldset, legend
    @import "@picocss/pico/scss/content/form-checkbox-radio"; // type=checkbox, type=radio, role=switch
    //@import "@picocss/pico/scss/content/form-alt-input-types"; // type=color, type=date, type=file, type=search, ...
    //@import "@picocss/pico/scss/content/table"; // table, tr, td, ...
    @import "@picocss/pico/scss/content/code"; // pre, code, ...
    @import "@picocss/pico/scss/content/miscs"; // hr, template, [hidden], dialog, canvas

    // Components
    @import "@picocss/pico/scss/components/accordion"; // details, summary
    @import "@picocss/pico/scss/components/card"; // article
    @import "@picocss/pico/scss/components/modal"; // dialog
    //@import "@picocss/pico/scss/components/nav"; // nav
    //@import "@picocss/pico/scss/components/progress"; // progress

    // Utilities
    @import "@picocss/pico/scss/utilities/loading"; // aria-busy=true
    @import "@picocss/pico/scss/utilities/tooltip"; // data-tooltip
    @import "@picocss/pico/scss/utilities/accessibility"; // -ms-touch-action, aria-*
    @import "@picocss/pico/scss/utilities/reduce-motion"; // prefers-reduced-motion



    // Copy from @picocss/pico/scss.layout/document html
    -webkit-text-size-adjust: 100%; // 2
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 3
    -ms-text-size-adjust: 100%; // 6
    text-rendering: optimizeLegibility;
    //background-color: var(--background-color);
    color: var(--color);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: var(--line-height); // 1
    font-family: var(--font-family);
    cursor: default; // 4
    tab-size: 4; // 5

    .hidden {
        display: none;
    }

    input,
    optgroup,
    select,
    textarea,
    button,
    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    [role="button"] {
        font-size: 1em; // 1
    }

    input:not([type=checkbox]):not([type=radio]):not([type=range]) {
        height: calc(1em * var(--line-height) + var(--form-element-spacing-vertical) * 2 + var(--border-width) * 2);
    }

    textarea:not([type=checkbox]):not([type=radio])[aria-invalid] {
        padding-right: calc(var(--form-element-spacing-horizontal) + 1.5em) !important;
        padding-left: var(--form-element-spacing-horizontal);
        padding-inline-start: var(--form-element-spacing-horizontal) !important;
        padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5em) !important;
        background-position: center right 0.75em;
        background-size: 1em auto;
        background-repeat: no-repeat;
    }

    badge {
        float: left;
        background: darkred;
        border-radius: 1em;
        color: #fff;
        padding: 0.1em 0.5em;
        font-size: 0.8em;
        text-align: center;
        margin-right: 1em;
    }

    // New items
    dialog {
        color: var(--color);
        background-color: transparent;
        z-index: 10000;
        text-align: left;

        article {

            --block-spacing-vertical: var(--spacing);
            --block-spacing-horizontal: var(--spacing);
            --form-element-spacing-vertical: 0.5em;
            margin: 0;
            padding-bottom: 0;

            button.icon,a.icon[role=button] {
                display: block;
                width: 2em;
                height: 2em;
                margin: 0;
                padding: 0.25em;
                background-position: center;
                background-size: auto 1rem;
                background-repeat: no-repeat;
                filter: grayscale(1);
                opacity: 0.5;
                transition: all 0.2s ease-in-out;
                background-color: transparent;
                border: 0;
            }
            button.icon:hover,a.icon[role=button]:hover {
                opacity: 1;
                filter: grayscale(0);
            }
            button.icon::selection,a.icon[role=button]::selection {
                outline: none;
            }
            button.icon:focus,a.icon[role=button]:focus {
                --box-shadow: 0;
            }

            .share {
                background-image: url("../assets/share.svg");
                margin-left: var(--spacing);
                float: right;
            }

            .close2 {
                background-image: var(--icon-close);
                margin-left: var(--spacing);
                float: right;
            }

            .next {
                background-image: url("../assets/next.svg");
                margin-left: var(--spacing);
                float: right;
            }

            .previous {
                background-image: url("../assets/prev.svg");
                margin-right: var(--spacing);
                float: left;
            }

            .user {
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8IS0tIFdyaXR0ZW4gYnkgVHJlZXIgKGdpdGxhYi5jb20vVHJlZXIpIC0tPg0KPHN2ZyANCgl2ZXJzaW9uPSIxLjEiIA0KCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgDQoJeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIA0KCXdpZHRoPSI2MDAiIA0KCWhlaWdodD0iNjAwIg0KCWZpbGw9IndoaXRlIj4NCg0KICA8dGl0bGU+QWJzdHJhY3QgdXNlciBpY29uPC90aXRsZT4NCg0KICA8ZGVmcz4NCiAgICA8Y2xpcFBhdGggaWQ9ImNpcmN1bGFyLWJvcmRlciI+DQogICAgICA8Y2lyY2xlIGN4PSIzMDAiIGN5PSIzMDAiIHI9IjI4MCIgLz4NCiAgICA8L2NsaXBQYXRoPg0KICAgIDxjbGlwUGF0aCBpZD0iYXZvaWQtYW50aWFsaWFzaW5nLWJ1Z3MiPg0KCSAgPHJlY3Qgd2lkdGg9IjEwMCUiIGhlaWdodD0iNDk4IiAvPg0KICAgIDwvY2xpcFBhdGg+DQogIDwvZGVmcz4NCiAgDQogIDxjaXJjbGUgY3g9IjMwMCIgY3k9IjMwMCIgcj0iMjgwIiBmaWxsPSJibGFjayIgY2xpcC1wYXRoPSJ1cmwoI2F2b2lkLWFudGlhbGlhc2luZy1idWdzKSIgLz4NCiAgPGNpcmNsZSBjeD0iMzAwIiBjeT0iMjMwIiByPSIxMTUiIC8+DQogIDxjaXJjbGUgY3g9IjMwMCIgY3k9IjU1MCIgcj0iMjA1IiBjbGlwLXBhdGg9InVybCgjY2lyY3VsYXItYm9yZGVyKSIgLz4NCjwvc3ZnPg==");
                margin-right: var(--spacing);
                float: left;
            }

            button[disabled] {
                pointer-events: none;
            }

            header {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                user-select: none;
                margin-bottom: 0;

                .title {
                    display: initial;
                    vertical-align: middle;
                }
            }

            .comment-list {
                max-height: 30em;
                overflow: scroll;
                display: flex;
                flex-direction: column-reverse;

                blockquote {
                    margin: 0.5em 0;
                    padding: 0.4em;

                    a {
                        text-decoration: underline;
                    }
                    a.share{
                        visibility: hidden;
                        background-size: contain;
                    }

                    footer span {
                        float: right;
                    }

                    [data-tooltip] {
                        &::before,
                        &::after {
                            margin-left: -13em;
                            top: 2em;
                            height: 2em;
                            z-index: 100;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
                blockquote.highlight {
                    border-left-color: var(--primary);
                    transition: border-left-color 0.3s ease-in-out;
                }
                blockquote:hover,blockquote.highlight {
                    a.share{
                        visibility: visible;
                    }
                }
            }

            .text-editor {
                display: flex;
                min-height: 15em;
                flex-direction: column;
                margin-bottom: 0.5em;

                .preview {
                    background-color: var(--form-element-background-color);
                    --border-color: var(--form-element-border-color);
                    --color: var(--form-element-color);
                    --box-shadow: none;
                    border: var(--border-width) solid var(--border-color);
                    border-radius: var(--border-radius);
                    box-shadow: var(--box-shadow);
                    color: var(--color);
                    font-weight: var(--font-weight);
                    padding: var(--form-element-spacing-vertical) var(--form-element-spacing-horizontal);
                    padding-right: calc(var(--form-element-spacing-horizontal) + 1.5em);
                    padding-left: var(--form-element-spacing-horizontal);
                    padding-inline-start: var(--form-element-spacing-horizontal);
                    padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5em);
                    a {
                        text-decoration: underline;
                    }
                }
                textarea, .preview {
                    flex-grow: 100;
                    height: 100%;
                    min-width: 24em;
                    margin-bottom: 0;
                    max-width: 100%;
                }
            }

            .actions {
                div {
                    a {
                        text-decoration: underline;
                    }
                    float: right;
                }
            }
        }
    }
    dialog.thread {
        right: unset;
        bottom: unset;
        display: block;
    }
}

.glossa-highlight {
    background-color: rgba(255, 255, 0, 0.5);
    position: absolute;
}

.glossa-thread-marker {
    user-select: none;
    position: absolute;
    margin-left: -5em;
    margin-top: -1em;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    background-image: url("/assets/icon-comment.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 3em;
    height: 3em;
    filter: grayscale(1);
    z-index: 9999;
}

.glossa-thread-marker:hover {
    opacity: 1;
    filter: grayscale(0);
}

#glossa-control-panel {
    position: fixed;
    right: 1em;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    z-index: 9998;

    [data-tooltip] {

        &::before,
        &::after {
            margin-left: -5em;
        }

        // Caret
        &::after {
            display: none;
        }
    }
    button, a {
        user-select: none;
        padding: 4px !important;
        display: block;
        width: 4em;
        height: 4em;
        filter: grayscale(1);
        opacity: 0.3;
        transition: all 0.2s ease-in-out;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        background-color: transparent;
        margin: 0.5em;
    }
    button:hover, a:hover {
        opacity: 1;
        filter: grayscale(0);
    }
}

.glossa-show-markers {
    background-image: url("/assets/icon-show-threads.svg");
}

.glossa-hide-markers {
    background-image: url("/assets/icon-hide-threads.svg");
}

.glossa-orphaned-threads {
    background-image: url("/assets/icon-orphaned.svg");
}

.glossa-link {
    background-color: transparent;
    background-image: url("/assets/glossa.svg");
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none !important;
}