<template id="glossa-control-panel-template">
    <button class="secondary outline"
       :class="{ 'glossa-show-markers': showMarkers, 'glossa-hide-markers': ! showMarkers }"
       @click="toggleMarkers"
       @focus="$el.blur()"
       data-tooltip="Show/hide thread markers"
    ></button>
    <button class="secondary outline glossa-orphaned-threads"
       @click="showOrphanedThreads"
       @focus="$el.blur()"
       v-if="hasOrphanedThreads"
       data-tooltip="Show orphaned threads"
    ></button>
    <a target="_blank" class="glossa-link" href="https://glossa.cc" data-tooltip="comments provided by">&nbsp;</a>
</template>
