<div id="glossa" v-scope>
    <div id="glossa-markers" :class="{ hidden: ! showMarkers }" v-if="! disabled">
        <div
                v-for="thread in anchoredThreads.threads"
                v-scope="ThreadMarker(thread, setCurrentThread)"
                v-bind:key="thread.id"
        ></div>
        <div v-if="newThread" v-scope="ThreadMarker(newThread, setCurrentThread)"
             v-effect="setNewThreadSubject(selection); updateThread(selection)"></div>
    </div>
    <div
            id="glossa-thread"
            v-if="anchoredThreads.current"
            v-scope="Thread(anchoredThreads, setCurrentThread, saveCommentToThread)"
            @vue:mounted="mounted"
    ></div>
    <div
            id="glossa-orphaned-thread"
            v-if="orphanedThreads.current"
            v-scope="Thread(orphanedThreads, setCurrentThread, saveCommentToThread)"
            @vue:mounted="mounted"
    ></div>
    <div id="glossa-control-panel" v-scope="ControlPanel(orphanedThreads)" v-if="! disabled"></div>
    <div v-selection="selection" v-if="! disabled"></div>
</div>