<template id="glossa-thread-template">
  <dialog class="thread" open="open" v-draggable="header .title">
    <article>
      <header>
        <button aria-label="User" class="icon user" @click="toggleUser"></button>
        <button aria-label="Previous thread" class="icon previous" @click="previousThread"
           v-disabled="threadlist.currentIndex == -1 || threadlist.currentIndex == 0"></button>
        <button aria-label="Close" class="icon close2" @click="close"></button>
        <button aria-label="Next thread" class="icon next" @click="nextThread"
           v-disabled="threadlist.currentIndex == -1 || threadlist.currentIndex == threadlist.threads.length -1"></button>
        <div class="title">
          <span v-if="threadlist.currentIndex > -1">{{ String(threadlist.currentIndex+1) + '/' + threadlist.threads.length }}</span>
          {{ thread.subject.text }}
        </div>
      </header>
      <form v-if="showUser">
        <label for="glossa-name">Your name (can be empty for anonymous)</label>
        <input id="glossa-name" name="name" placeholder="Name" v-model="name" @keypress="inputName">
      </form>
      <main class="comment-list">
        <blockquote v-for="comment in thread.comments.slice().reverse()" :class="{'highlight': linkedCommentId == comment.timestamp}">
          <badge v-if="comment.needsApproval">needs approval</badge>
          <a role="button" class="icon share"
             :href="'#glossa:' + thread.id + ':' + comment.timestamp"
             @click="copyToClipboard(thread,comment, $el)"
          ></a>
          <span v-html="compiledMarkdown(comment.text)"></span>
          <footer v-if="comment.author">
            <cite>{{ comment.author }}</cite>
            <span>{{ formatTimestamp(comment.timestamp) }}</span>
          </footer>
        </blockquote>
      </main>
      <div class="text-editor">
        <div class="preview" v-html="compiledMarkdown(newComment.text)" v-if="isPreview"></div>
        <textarea class="input" v-model="newComment.text" v-if="! isPreview" @keyup="newCommentTextChanged" placeholder="Comment in markdown..."></textarea>
      </div>
      <div class="grid actions">
        <div>
          Need help with <a target="_blank" href="https://www.markdownguide.org/cheat-sheet/">Markdown?</a>
        </div>
        <fieldset>
          <label for="switch">
            <input type="checkbox" id="switch" name="switch" role="switch" v-model="isPreview">
            Preview
          </label>
        </fieldset>
        <button class="save" @click="addComment" :aria-busy="isBusy" :disabled="! isCommentValid || isBusy">Comment</button>
      </div>
    </article>
  </dialog>
</template>
