<template id="glossa-thread-marker-template">
    <div class="glossa-thread-marker" :style="{left: x+'px' , top: y+'px'}" @click="toggleThread" @mousedown="ignore" @mouseup="ignore" @mouseover="highlightRange"
         @mouseleave="hideRange"></div>
</template>
